.App {
  text-align: center;
}


.controls{
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.control-btn{
  position: relative;
  margin-right: 24px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 1px 1px 8px black;
  border-radius: 50%;
  background-color: #252839;
  height: 64px;
  width: 64px;
}

.videoContainer
{
  max-width: 33%;
  display: inline-block;
}

.videoContainer video
{
  max-width: 100%;
}

.videoContainer h1
{
  text-align: center;
}

#ownVideo {
  height: 180px;
  max-height: 100%;
  max-width: 100%;
  right: 0;
  margin: 24px auto;
  display: inline-block;
  border-radius: 4px;
}